/* Styling Variables */
:root {
  /* Dark Theme (default) */
  --dark-background-color: #2b2b2b;
  --dark-text-color: #fff;
  --dark-icon-color: #fff;
  --dark-secondary-color: #FF7538;

  /* Light Theme */
  --light-background-color: #fff;
  --light-text-color: #000;
  --light-icon-color: #f1c515;
  --light-secondary-color: #ff6f00;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(167deg, rgb(27, 37, 54) 100%, rgb(44, 17, 61) 0%);

  font-family: 'Montserrat', sans-serif;
}

.cursor {
  width: 26px;
  height: 26px;
  border: 1px solid var(--dark-secondary-color);
  border-radius: 50%;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  z-index: 99;
  pointer-events: none;
}

.mini-cursor {
  width: 8px;
  height: 8px;
  background-color: var(--dark-secondary-color);
  border-radius: 50%;
  position: absolute;
  transition-duration: 66ms;
  transition-timing-function: ease-out;
  z-index: 99;
  pointer-events: none;
}

.main-container {
  color: var(--dark-text-color);
}

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  scale: 0.8;
  padding: 0.5rem 0 0 0.75rem;
}

.logo a img {
  cursor: pointer;
}

.page-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page-links > li {
  padding: 0.5rem;
  list-style-type: none;
  /* border: 1px solid blue; */
}

.page-links > li > a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--dark-text-color);
  transition: all 0.75s ease;
}

.page-links:hover li:not(:hover) a {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.75s ease;
}

.page-links li:hover a {
  background-color: var(--dark-secondary-color);
  border-radius: 10px;
  transition: all 0.75s ease;
}

.landing-page {
  height: 100vh;
  background-image: url("../assets/backgrounds/sunset_wallpaper.jpg");

  /* filter: blur(8px);
  -webkit-filter: blur(8px); */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-content {
  height: 100%;
  z-index: 99;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.name-title {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.role {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
}

.socials-container {
  width: 100%;
  position: absolute;
  bottom: 1rem;

  display: flex;
  justify-content: center;
}

.socials-container ul {
  display: flex;
  flex-direction: row;
  list-style: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 0.5rem 3rem;
}

.socials-container ul li img {
  width: 35px;
  height: 35px;
  margin-right: 2.5rem;
  transition: all 0.3s ease;

  /* animation-name: infiniteupdown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s; */
}

.socials-container ul li:hover img {
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

.socials-container ul:hover li:not(:hover) a img {
  opacity: 0.5;
}

@keyframes infiniteupdown {
  0% {
    transform: translateY(1.5px);
  }

  50% {
    transform: translateY(-1.5px);
  }

  100% {
    transform: translateY(1.5px);
  }
}

.socials-container ul li:last-child img {
  margin-right: 0;
}

.github-icon {
  filter: invert(100%);
}

.about-me {
  /* background: linear-gradient(0deg, rgba(249,169,157,1) 0%, rgba(233,87,151,1) 25%, rgba(38,34,98,1) 45%); */
  /* background: linear-gradient(0deg, rgba(61,93,152,1) 0%, rgba(23,24,55,1) 48%); */
  /* background-color: rgba(23,24,55,1); */
}

.section-container {
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  text-align: center;
  text-transform: uppercase;

  font-size: 20px;
  letter-spacing: 2px;
  color: var(--dark-secondary-color);
}

.section-content {
  width: 60%;
  font-size: 20px;
  font-weight: 500;
}

/* .skills-container {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill {
  margin: -0.75rem 0;
  padding: 0 0.5rem;
}

.skill p {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 10px;
} */

.skills-container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
}

.skills-container ul {
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 15px;

  list-style: none;
  display: flex;
  flex-direction: row;
  background: rgba(149, 0, 255, 0.2);
  /* border: 1px solid red; */
}

.skills-container ul li {
  padding: 1rem;
  width: 33.3%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.skill-selected {
  background-color: var(--dark-secondary-color);
  border-radius: 10px 10px 0 0 ;
}

.skill-display {
  display: none;
  visibility: hidden;

  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
}

/* Work Experience sections */
.experience {
  /* background-color: rgb(23,24,55); */
}

.job-header {
  width: 60%;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  background-color: rgb(15, 16, 39);
  border: 1px solid white;
}

.job-title {
  width: 65%;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.5rem;
}

.job-position, .employer {
  margin: 0;
}

.job-position {
  font-weight: 700;
}

.employer {
  padding-top: 0.25rem;
  font-style: oblique;
}

.job-period {
  width: 25%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid aqua;
}

.job-icon {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-icon i {
  cursor: pointer;
  transition: all 0.3s ease;
}

.job-icon i:hover {
  color: var(--dark-secondary-color);
  transition: all 0.3s ease;
}


/* Job Card */
.job-card {
  width: 60%;
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: 1px solid white;
  padding: 1.5rem;
  background-color: rgba(15, 16, 39, 0.3);
}

.left-side {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2rem;
}

.job-location {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid blue; */
  margin-top: -1rem;
}

.location-icon {
  color: var(--dark-secondary-color);
}

.job-location p {
  padding-left: 1rem;
}

.more-details {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: color 0.3s ease;
}

.more-details:hover {
  color: var(--dark-secondary-color);
  font-weight: 600;
  transition: color 0.3s ease;
}

.hide {
  display: none;
  visibility: hidden;
}

.job-skills ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
}

.job-skills ul li {
  margin: 0 0.5rem 0.75rem 0;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  background-color: var(--dark-secondary-color);
  border-radius: 15px;
}

.right-side {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-logo {
  width: 90%;
}













/* Light/Dark Mode button (toggle-like) */
.theme-area {
  padding: 1rem 1rem 1rem 0;
}

.theme-button {
  background-color: rgb(85, 85, 85);
  width: 3.5rem;
  height: 2.25rem;
  border-radius: 25rem;
  padding: 0 0.35em;

  position: relative;
  display: flex;
  align-items: center;

  cursor: pointer;
}

.indicator {
  background-color: #252525;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);

  transition: transform 0.3s ease;
}

.theme-icon-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-icon {
  color: var(--dark-icon-color);
  font-size: 1rem;
}

.theme-icon.animated {
  animation: spin 0.5s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* LIGHTMODE */
.light-mode .theme-button {
  background-color: rgba(36, 36, 36, 0.1);
}

body.light-mode {
  background: linear-gradient(167deg, rgba(148,187,233,1) 0%, rgba(238,187,174,1) 100%);
}

.light-mode .landing-page {
  background-image: url("../assets/backgrounds/dawn_wallpaper.jpg");
}

.light-mode .main-container, 
.light-mode .page-links > li > a {
  color: var(--light-text-color);
}

.light-mode .cursor {
  border: 1px solid var(--light-secondary-color);
}

.light-mode .mini-cursor {
  background-color: var(--light-secondary-color);
}

.light-mode .indicator {
  transform: translateX(1.75rem);
  background-color: #fff;
}

.light-mode .theme-icon {
  color: var(--light-icon-color);
}

.light-mode .github-icon {
  filter: initial;
}



/* SCROLLBAR */
::-webkit-scrollbar {
  width: 18px;
  background-color: rgb(85, 85, 85);
}

.light-mode ::-webkit-scrollbar {
  background-color: #fff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 10px;
  border: 3px solid rgb(85, 85, 85);
}

@media screen and (max-width: 1440px) {
  .cursor, .mini-cursor {
    display: none;
    visibility: hidden;
  }
}
