body {
  background-color: #15121a;
  background-size: 2.375rem 2.375rem;
  /* background-image: 
    linear-gradient(to right, #212428 2px, transparent 2px),
    linear-gradient(to bottom, #212428 2px, transparent 2px); */
  /* background-image: radial-gradient(circle, #2b3038 2px, rgba(0, 0, 0, 0) 2px);; */
  color: #fff;
  font-family: 'Montserrat', sans-serif;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.star {
  position: absolute;
  background: #ffffffbf;
  border-radius: 50%;
  animation: float linear infinite;
}

@keyframes float {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.important {
  font-weight: 700;
  color: #ffa500;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.025) 0%, rgba(0, 0, 0, 0.1) 45%);

  display: flex;
  justify-content: space-between;
  padding: 0.25rem 1rem;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
}

.paw-logo {
  color: #fff;
  rotate: 45deg;
  animation: flicker 4s linear infinite;

  color: #efa9ff;
  text-shadow: 
    0 0 5px #9900ff, 
    0 0 10px #ffa500,
    0 0 15px #ffa500, 
    0 0 20px #ffa500, 
    0 0 40px #ffa500, 
    0 0 60px #ff5e00, 
    0 0 98px #ff5e00,
    0 0 120px #ff5e00,
    0 0 156px #ff5e00;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

.index-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.index-links ul li {
  padding: 0.5rem 1.5rem;
}

.index-links ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.2s ease-in;
}

.index-links ul li:hover a {
  color: #fff6a9;
  text-shadow: 
    0 0 5px #ffa500, 
    0 0 10px #ffa500,
    0 0 15px #ffa500, 
    0 0 20px #ffa500, 
    0 0 40px #ffa500, 
    0 0 60px #ff5e00, 
    0 0 98px #ff5e00,
    0 0 120px #ff5e00,
    0 0 156px #ff5e00;

  border-radius: 7px;
  transition: all 0.2s ease-in;
}

.index-links ul:hover li:not(:hover) a {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in;
}


.neon-text {
  color: #fff6a9;
  text-shadow: 
    0 0 5px #ffa500, 
    0 0 10px #ffa500,
    0 0 15px #ffa500, 
    0 0 20px #ffa500, 
    0 0 40px #ffa500, 
    0 0 60px #ff5e00, 
    0 0 75px #ff5e00;
}


.homepage {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* .my-name {
  text-transform: uppercase;
  font-size: 90px;
  letter-spacing: 8px;

  padding: 0;
  margin: 0;
}

.my-role {
  display: inline-block;
}

.my-role h2 {
  font-family: 'Inconsolata', sans-serif;
  letter-spacing: 5px;
  font-size: 32px;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.2s steps(18);
} */

.my-intro {
  padding: 0.5rem;
  font-family: 'Inconsolata', sans-serif;

  display: inline-block;
}

.my-intro h1 {
  letter-spacing: 4px;

  width: 100%;
  white-space: nowrap;
  /* overflow: hidden; */
  /* animation: typing 2s; */
}

.my-name {
  text-transform: uppercase;
  font-size: 42px;
  font-family: 'Montserrat', sans-serif;
}

@keyframes typing {
  from {width: 0;}
}


.socials {
  position: absolute;
  bottom: 1rem;
  padding: 0 1rem;
}

.socials ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.socials ul li {
  padding: 0 1rem;
  position: relative;
}

.socials ul li i {
  /* background: linear-gradient(0deg, rgb(84, 91, 100) 0%, rgb(53, 60, 69) 60%); */
  color: #fff;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  transition: all 0.3s ease;
}

.socials ul li i:hover {
  scale: 1.2;
  transform: translateY(-5px);
  color: #fff6a9;
  text-shadow: 
    0 0 5px #ffa600a2, 
    0 0 10px #ffa600a2,
    0 0 17px #ffa600a2,
    0 0 25px #ff5e00a3, 
    0 0 35px #ff5e00a3;
  transition: all 0.3s ease;
}

.socials ul:hover li:not(:hover) i {
  color: #ffffff80;
}

.about {
  padding-top: 4rem;
}

.section-title {
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.self-description {
  padding: 0 15rem;

  font-size: 18px;
  padding-bottom: 5rem;
}

.slider {
  width: 90%;
  height: 150px;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  opacity: 0.1;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(27, 30, 35, 1) 0%, rgba(27, 30, 35, 0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  top: 0;
  left: 0;
}

.slider::after {
  top: 0;
  right: 0;
  transform: rotate(180deg);
}

.slide-track {
  display: flex;
  width: calc(150px * 18);
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 9));
  }
}

.slide {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.slide img {
  width: 100%;
}