body {
  background-color: #15121a;
  background-size: 2.375rem 2.375rem;
  /* background-image: 
    linear-gradient(to right, #212428 2px, transparent 2px),
    linear-gradient(to bottom, #212428 2px, transparent 2px); */
  /* background-image: radial-gradient(circle, #2b3038 2px, rgba(0, 0, 0, 0) 2px);; */
  color: #fff;
  font-family: 'Montserrat', sans-serif;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.star {
  position: absolute;
  background: #ffffffbf;
  border-radius: 50%;
  animation: float linear infinite;
}

@keyframes float {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.important {
  font-weight: 700;
  color: #d000ff;
}

.scroll-up {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  font-size: 32px;

  padding: 0.25rem 0.75rem;
  background: #ffffff2a;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  cursor: pointer;

  display: none;
  visibility: hidden;
  z-index: 99;
}

.scroll-up a {
  color: #fff;
}

.scroll-up:hover a {
  color: #efa9ff;
  text-shadow: 
    0 0 5px #9900ff, 
    0 0 10px #9900ff,
    0 0 15px #9900ff, 
    0 0 20px #9900ff, 
    0 0 40px #9900ff, 
    0 0 60px #441365, 
    0 0 75px #441365;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.025) 0%, rgba(0, 0, 0, 0.1) 45%);

  display: flex;
  justify-content: space-between;
  padding: 0.25rem 1rem;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: #272727b9;
  backdrop-filter: blur(10px);

  z-index: 99;
}

.logo {
  display: flex;
  align-items: center;
}

.paw-logo {
  color: #fff;
  rotate: 45deg;
  animation: flicker 4s linear infinite;

  color: #efa9ff;
  text-shadow: 
    0 0 5px #9900ff, 
    0 0 10px #9900ff,
    0 0 15px #9900ff, 
    0 0 20px #9900ff, 
    0 0 40px #9900ff, 
    0 0 60px #441365, 
    0 0 98px #441365,
    0 0 120px #441365,
    0 0 156px #441365;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

.index-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.index-links ul li {
  padding: 0.5rem 1.5rem;
}

.index-links ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.2s ease-in;
}

.index-links ul li:hover a {
  color: #efa9ff;
  text-shadow: 
    0 0 5px #9900ff, 
    0 0 10px #9900ff,
    0 0 15px #9900ff, 
    0 0 20px #9900ff, 
    0 0 40px #9900ff, 
    0 0 60px #441365, 
    0 0 98px #441365,
    0 0 120px #441365,
    0 0 156px #441365;

  border-radius: 7px;
  transition: all 0.2s ease-in;
}

.index-links ul:hover li:not(:hover) a {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in;
}

.sticky-navbar .index-links ul li:hover a {
  color: #fff;
  text-shadow: 
    0 0 5px #d6d6d6, 
    0 0 10px #d6d6d6,
    0 0 15px #d6d6d6, 
    0 0 20px #d6d6d6, 
    0 0 40px #d6d6d6, 
    0 0 60px #656565, 
    0 0 98px #656565,
    0 0 120px #656565,
    0 0 156px #656565;

  border-radius: 7px;
  transition: all 0.2s ease-in;
}


.neon-text {
  color: #efa9ff;
  text-shadow: 
    0 0 5px #9900ff, 
    0 0 10px #9900ff,
    0 0 15px #9900ff, 
    0 0 20px #9900ff, 
    0 0 40px #9900ff, 
    0 0 60px #441365, 
    0 0 75px #441365;
}


.homepage {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.my-intro {
  padding: 0.5rem;
  font-family: 'Inconsolata', sans-serif;
  display: inline-block;
}

.my-intro h1 {
  letter-spacing: 4px;
  width: 100%;
  white-space: nowrap;
}

.my-name {
  text-transform: uppercase;
  font-size: 42px;
  font-family: 'Montserrat', sans-serif;
}

@keyframes typing {
  to {width: 100%;}
}


.socials {
  position: absolute;
  bottom: 1rem;
  padding: 0 1rem;
}

.socials ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.socials ul li {
  padding: 0 1rem;
  position: relative;
  font-size: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socials ul li a {
  text-decoration: none;
}

.socials ul li i {
  /* background: linear-gradient(0deg, rgb(84, 91, 100) 0%, rgb(53, 60, 69) 60%); */
  color: #fff;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  transition: all 0.3s ease;
}

.socials ul li:hover i {
  scale: 1.2;
  transform: translateY(-5px);
  color: #efa9ff;
  text-shadow: 
    0 0 5px #9900ff, 
    0 0 10px #9900ff,
    0 0 17px #9900ff,
    0 0 25px #441365, 
    0 0 35px #441365;
  transition: all 0.3s ease;
}

.socials ul:hover li:not(:hover) i {
  color: #ffffff80;
}

.socials ul li .help-text {
  margin-top: -0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  border-radius: 20px;
  background: #ffffff21;
  backdrop-filter: blur(10px);
}

.socials ul:hover li:hover .help-text {
  color: #efa9ff;
}

.socials ul:hover li:not(:hover) .help-text {
  background: #ffffff14;
  color: #ffffff90;
}



.email-popup {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 200;

  width: 350px;
  background: #3e3e3edf;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  text-align: left;
  font-size: 14px;

  padding: 0.75rem 1.5rem 0.75rem 1rem;
  overflow: hidden;

  display: none;
  visibility: hidden;
}

.close-email {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  font-size: 20px;
  cursor: pointer;
}

.email-popup div {
  margin: 0;
}

.email-popup .confirmation {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0;
  margin: 0;
}

.confirmation .fa-check {
  background: rgb(0, 255, 0);
  border-radius: 50%;
  padding: 3px 4px;
}

.confirmation p {
  margin: 0;
  padding-left: 0.5rem;
}

.email-popup .email-info {
  margin-top: 1rem;
}

.email-popup .email-info p {
  margin: 0;
}

.email-address {
  font-family: 'Inconsolata', sans-serif;
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-size: 18px;
}

.email-timer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #9300cd;
  animation: timebar 10s linear forwards;
}

@keyframes timebar {
  to {transform: scaleX(0); }
}





.about {
  padding-top: 2rem;
  width: 100%;
}

.section-title {
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.self-description {
  padding: 0 15rem;
  padding-top: 2rem;
  font-size: 20px;
  padding-bottom: 5rem;
}

.skills-section {
  position: relative;
}

.slider {
  position: absolute;
  top: 6rem;

  width: 90%;
  height: 150px;
  margin: auto;
  display: grid;
  place-items: center;
  overflow: hidden;
  opacity: 0.08;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(27, 30, 35, 1) 0%, rgba(27, 30, 35, 0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  top: 0;
  left: 0;
}

.slider::after {
  top: 0;
  right: 0;
  transform: rotate(180deg);
}

.slide-track {
  display: flex;
  width: calc(140px * 16);
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-140px * 8));
  }
}

.slide {
  height: 140px;
  width: 140px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.slide img {
  width: 100%;
}


.skills-container {
  padding: 0 18rem;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
}

.skill-group {
  width: 27%;
}

.skill-title {
  font-family: 'Inconsolata', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;

  letter-spacing: 2px;
  padding: 0 1rem;
  border: 2.5px solid #efa9ff;
  border-radius: 15px;
  box-shadow: 
    inset 0 0 5px #9900ff, 
    inset 0 0 10px #9900ff,
    inset 0 0 17px #9900ff,
    inset 0 0 25px #441365, 
    inset 0 0 35px #441365,

    0 0 5px #9900ff, 
    0 0 10px #9900ff,
    0 0 17px #9900ff,
    0 0 25px #441365, 
    0 0 35px #441365;
}

.blue {
  color: #a9c4ff;
  border: 2.5px solid #a9c4ff;
  text-shadow: 
    0 0 5px #0022ff, 
    0 0 10px #0022ff,
    0 0 15px #0022ff, 
    0 0 20px #0022ff, 
    0 0 40px #0022ff, 
    0 0 60px #132165, 
    0 0 75px #132165;
  box-shadow: 
    inset 0 0 5px #0022ff, 
    inset 0 0 10px #0022ff,
    inset 0 0 17px #0022ff,
    inset 0 0 25px #132165, 
    inset 0 0 35px #132165,

    0 0 5px #0022ff, 
    0 0 10px #0022ff,
    0 0 17px #0022ff,
    0 0 25px #132165, 
    0 0 35px #132165;
}

.green {
  color: #a9fff8;
  border: 2.5px solid #a9fff8;
  text-shadow: 
    0 0 5px #00ffe1be, 
    0 0 10px #00ffe1be,
    0 0 15px #00ffe1be, 
    0 0 20px #00ffe1be, 
    0 0 40px #00ffe1be, 
    0 0 60px #136560, 
    0 0 75px #136560;
  box-shadow: 
    inset 0 0 5px #00ffe1be, 
    inset 0 0 10px #00ffe1be,
    inset 0 0 17px #00ffe1be,
    inset 0 0 25px #136560, 
    inset 0 0 35px #136560,

    0 0 5px #00ffe1be, 
    0 0 10px #00ffe1be,
    0 0 17px #00ffe1be,
    0 0 25px #136560, 
    0 0 35px #136560;
}

.skill-title h3 {
  padding-left: 1rem;
}

.skill-list {
  padding: 0;
  list-style: none;
  text-align: center;
  font-family: 'Inconsolata', sans-serif;
}

.skill-list li {
  font-size: 20px;
  padding: 0.25rem 0;
}


.experience {
  padding-top: 4rem;
}

.experience .section-content {
  padding: 0 3rem;
}

.accordion {
  padding: 2rem 15rem;
}

.accordion-content {
  margin-top: 1rem;
  overflow: hidden;
}

.accordion-content .open {
  padding-bottom: 0.5rem;
}

.accordion-content .header {
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #9300cd;
  border-radius: 8px;

  transition: all 0.2s linear;
}

.accordion-content .closed {
  background: #56048d;
  color: #ffffffd8;
}

.accordion-content .header .title {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  padding-right: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-intro h3 {
  margin: 0;
  letter-spacing: 0.5px;
}

.job-intro .company {
  font-style: oblique;
  font-weight: 500;
  font-size: 16px;
}

.job-period {
  display: flex;
  align-items: center;
  text-align: right;
  font-weight: 500;
  font-size: 16px;
}

.accordion-content .header i {
  font-size: 18px;
}

.accordion-content .description {
  margin-top: 1rem;
  font-size: 14px;

  height: 0;
  transition: all 0.3s linear;
}

.job-description {
  padding: 1rem 2rem;
  background: #44136570;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-side {
  width: 85%;
}

.job-location {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.job-location p {
  padding-left: 0.5rem;
  font-size: 16px;
}

.short-intro {
  font-size: 16px;
}

.details-button div {
  padding-top: 0.75rem;
  color: #d4d4d4;
  font-size: 14px;
  cursor: pointer;
}

.details-button div:hover {
  color: #ae35ff;
}

.details-button ul {
  padding-right: 2.5rem;
  font-size: 16px;
}

.hide {
  display: none;
  visibility: hidden;
}

.job-skills {
  font-family: 'Inconsolata', sans-serif;
}

.job-skills ul {
  padding: 0;
  padding-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.job-skills ul li {
  padding: 0.25rem 1rem;
  margin: 0 0.75rem 0.75rem 0;
  font-size: 17px;
  font-weight: 500;
  background: #b23eff74;
  color: #efd8ff;
  border-radius: 20px;
}

.right-side {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side .company-logo {
  width: 100%;
}



.projects { 
  padding-top: 4rem;
}

.projects-intro {
  padding: 0 15rem;
  padding-top: 2rem;
  font-size: 20px;
}

.projects-intro .different {
  padding-top: 4rem;
  font-family: 'Inconsolata', sans-serif;
  font-size: 18px;
  text-align: center;
}

.filters-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters-bar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.filter {
  font-family: 'Inconsolata', sans-serif;
  padding: 0.25rem 1rem;
  margin-right: 0.75rem;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff90;
  border: 2.5px solid #ffffff30;
  border-radius: 8px;
  text-transform: uppercase;
}

.active-filter {
  font-weight: 600;

  color: #efa9ff;
  text-shadow: 
    0 0 5px #9900ff, 
    0 0 12px #9900ff, 
    0 0 20px #9900ff, 
    0 0 26px #441365, 
    0 0 35px #441365;

  border-color: #efa9ff;
  box-shadow: 
    inset 0 0 5px #9900ff, 
    inset 0 0 10px #9900ff,
    inset 0 0 17px #9900ff,
    inset 0 0 25px #441365, 
    inset 0 0 35px #441365,

    0 0 5px #9900ff, 
    0 0 10px #9900ff,
    0 0 17px #9900ff,
    0 0 25px #441365, 
    0 0 35px #441365;
}


.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  max-width: 90%;
  margin: auto;
}

.project-card {
  min-width: 20rem;
  width: 20rem;
  height: 17rem;
  padding: 1rem;
  margin: 1.2rem;
  background: #9e82a924;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  cursor: pointer;
}

.project-tags {
  width: 100%;
  display: flex;
  justify-content: right;
}

.tag {
  margin: -0.5rem -0.25rem 0.5rem 0;
  padding: 0.2rem 0.75rem;
  background: #940eaf66;
  color: #f4baff;
  border-radius: 20px;

  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project-image {
  width: 100%;
  height: 80%;
  overflow: hidden;
  padding-top: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.project-gif {
  height: 100%;
  width: auto;
}

.project-title {
  font-family: 'Inconsolata', sans-serif;
  width: 100%;
  text-align: center;
  padding-top: 0.75rem;
}

.project-title h3 {
  margin: 0;
  letter-spacing: 1px;
  font-size: 24px;
}

.see-more {
  display: none;
  visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  width: 100%;
  height: 100%;

  background: #3f3f3f42;
  backdrop-filter: blur(10px);
}

.see-more p {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 22px;
  font-weight: 600;
  color: #f4baff;
}

.dark p {
  color: #441365;
  font-weight: 900;
}

.project-card:hover .see-more {
  display: block;
  visibility: visible;
}




.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 5rem;
  padding: 1.5rem 0;
  background-color: #620089;
  color: #fff;
}

.footer-name {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}

.footer-socials ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 0 0.75rem 0;
}

.footer-socials ul li {
  margin-right: 1.5rem;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer-socials ul li:hover {
  margin-top: -0.35rem;
  transition: all 0.3s ease;
}

.footer-links ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer-links ul li {
  margin-right: 1rem;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 2s ease;
}

.footer-links ul li a:hover {
  text-decoration: underline;
  transition: all 2s ease;
}

.copyright {
  font-family: 'Inconsolata', sans-serif;

  margin-top: 1.5rem;
  color: #ffffffb2;
}










.hamburger-menu {
  display: none;
  visibility: hidden;

  color: #fff;
  font-size: 32px;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.mobile-navbar {
  display: none;
  visibility: hidden;

  position: fixed;
  top: 0;
  right: 0;

  width: 300px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(8px);

  z-index: 99;
}

.mobile-links {
  list-style: none;
}

.mobile-links li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}



@media screen and (max-width: 768px) {
  .hamburger-menu,
  .mobile-navbar {
    display: block;
    visibility: visible;
  }

  .index-links {
    display: none;
    visibility: hidden;
  }
}
