/* Styling Variables */
:root {
  /* Dark Theme (default) */
  --dark-background-color: #2b2b2b;
  --dark-text-color: #fff;
  --dark-icon-color: #fff;
  --dark-primary-color: #740cdc;

  /* Light Theme */
  --light-background-color: #fff;
  --light-text-color: #000;
  --light-icon-color: #f1c515;
  --light-primary-color: #ff6f00;
}

body {
  padding: 0;
  margin: 0;
  background: #1a191d;

  font-family: 'Montserrat', sans-serif;
}

.cursor {
  width: 26px;
  height: 26px;
  border: 1px solid var(--dark-primary-color);
  border-radius: 50%;
  position: absolute;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  z-index: 99;
  pointer-events: none;
  overflow: hidden;
}

.mini-cursor {
  width: 8px;
  height: 8px;
  background-color: var(--dark-primary-color);
  border-radius: 50%;
  position: absolute;
  transition-duration: 66ms;
  transition-timing-function: ease-out;
  z-index: 99;
  pointer-events: none;
  overflow: hidden;
}

.main-container {
  color: var(--dark-text-color);
}

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* border: 1px solid red; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  scale: 0.8;
  padding: 0.5rem 0 0 0.75rem;
}

.logo a img {
  cursor: pointer;
}

.page-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page-links > li {
  padding: 0.5rem;
  list-style-type: none;
  /* border: 1px solid blue; */
}

.page-links > li > a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--dark-text-color);
  transition: all 0.15s ease-in;
}

.page-links:hover li:not(:hover) a {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.15s ease-in;
}

.page-links li:hover a {
  /* color: var(--dark-primary-color); */
  border-radius: 10px;
  transition: all 0.15s ease-in;

  border: 2px solid var(--dark-text-color);
  box-shadow: 
    /* Other color glow */
    0 0 10px var(--dark-primary-color),
    0 0 20px var(--dark-primary-color),
    0 0 40px var(--dark-primary-color),
    0 0 80px var(--dark-primary-color),
    0 0 120px var(--dark-primary-color);
  text-shadow:
    /* Other color glow */
    0 0 10px var(--dark-primary-color),
    0 0 20px var(--dark-primary-color),
    0 0 40px var(--dark-primary-color),
    0 0 80px var(--dark-primary-color),
    0 0 120px var(--dark-primary-color);
}

.landing-page {
  height: 100vh;
  /* background-image: url("../assets/backgrounds/sunset_wallpaper.jpg"); */

  /* filter: blur(8px);
  -webkit-filter: blur(8px); */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-content {
  height: 100%;
  z-index: 99;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.name-title {
  font-size: 100px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;

  text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    /* Other color glow */
    0 0 42px var(--dark-primary-color),
    0 0 82px var(--dark-primary-color),
    0 0 92px var(--dark-primary-color),
    0 0 102px var(--dark-primary-color),
    0 0 151px var(--dark-primary-color);
}

.role {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 2px;
}

.socials-container {
  width: 100%;
  position: absolute;
  bottom: 1rem;

  display: flex;
  justify-content: center;
}

.socials-container ul {
  display: flex;
  flex-direction: row;
  list-style: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 0.5rem 3rem;
}

.socials-container ul li img {
  width: 35px;
  height: 35px;
  margin-right: 2.5rem;
  transition: all 0.3s ease;

  /* animation-name: infiniteupdown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s; */
}

.socials-container ul li:hover img {
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

.socials-container ul:hover li:not(:hover) a img {
  opacity: 0.5;
}

.socials-container ul li:last-child img {
  margin-right: 0;
}

.github-icon {
  filter: invert(100%);
}

.about-me {
  /* background: linear-gradient(0deg, rgba(249,169,157,1) 0%, rgba(233,87,151,1) 25%, rgba(38,34,98,1) 45%); */
  /* background: linear-gradient(0deg, rgba(61,93,152,1) 0%, rgba(23,24,55,1) 48%); */
  /* background-color: rgba(23,24,55,1); */
}

.section-container {
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  text-align: center;
  text-transform: uppercase;

  font-size: 20px;
  letter-spacing: 2px;
  color: var(--dark-primary-color);
}

.section-content {
  width: 60%;
  font-size: 20px;
  font-weight: 500;
}

/* Skills */
.skills-container {
  margin-top: 1.5rem;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.single-skill {
  margin-right: 1rem;
  background-color: #000;
  width: 33.3%;
  padding: 0.25rem;
  border-radius: 10px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.single-skill::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
  animation: glowbox 8s linear infinite;
}

.single-skill::after {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  background-image: conic-gradient(transparent, transparent, transparent, #d400d4);
  animation: glowbox 8s linear infinite;
  animation-delay: -4s;
}

@keyframes glowbox {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inner-box {
  width: 100%;
  height: 100%;
  background-color: #1a191d;
  border-radius: 10px;

  z-index: 1;
}

.skill-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  /* border: 1px solid yellow; */
}

.skill-title img {
  width: 28px;
  height: 28px;
  padding-left: 0.5rem;
}

.skill-title p {
  padding-left: 0.75rem;
}

.skill-list ul {
  padding: 0 1rem;
  list-style: none;
  text-align: center;
  /* border: 1px solid blue; */
  /* font-family: 'Inconsolata', sans-serif; */
  font-weight: 600;
  font-size: 18px;
}

.skill-list ul li {
  padding: 0.1rem 0;
}

/* Work Experience sections */

.job-header {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  background-color: #430d79;
  font-size: 18px;
  cursor: pointer;
}

.open-header {
  background-color: var(--dark-primary-color);
}

.job-title {
  width: 55%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 0.5rem 1.5rem;
}

.job-position, .employer {
  margin: 0;
}

.job-position {
  font-weight: 700;
}

.employer {
  padding-top: 0.25rem;
  font-size: 16px;
  font-style: oblique;
}

.job-period {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
  /* border: 1px solid aqua; */
}

.job-icon {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-icon i {
  cursor: pointer;
  transition: all 0.3s ease;
}

.job-icon i:hover {
  color: var(--dark-primary-color);
  transition: all 0.3s ease;
}


/* Job Card */
.job-card {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: #241d41;
}


.left-side {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2rem;
}

.job-location {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  margin-top: -1rem;
}

.location-icon {
  color: var(--dark-primary-color);
}

.job-location p {
  padding-left: 0.75rem;
}

.job-description {
  font-size: 17px;
}

.more-details {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: color 0.3s ease;
}

.more-details:hover {
  color: var(--dark-primary-color);
  font-weight: 600;
  transition: color 0.3s ease;
}

.hide {
  display: none;
  visibility: hidden;
}

.job-skills ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem 0 0 0;
  margin: 0;
}

.job-skills ul li {
  font-family: 'Inconsolata', sans-serif;
  margin: 0 0.5rem 0.75rem 0;
  padding: 0.325rem 0.875rem;
  display: flex;
  align-items: center;
  background-color: #2c3599;
  color: #cbd3ff;
  border-radius: 15px;
  font-size: 17px;
  font-weight: 500;
}

.right-side {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-logo {
  width: 90%;
}













/* Light/Dark Mode button (toggle-like) */
.theme-area {
  padding: 1rem 1rem 1rem 0;
}

.theme-button {
  background-color: rgb(85, 85, 85);
  width: 3.5rem;
  height: 2.25rem;
  border-radius: 25rem;
  padding: 0 0.35em;

  position: relative;
  display: flex;
  align-items: center;

  cursor: pointer;
}

.indicator {
  background-color: #252525;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);

  transition: transform 0.3s ease;
}

.theme-icon-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-icon {
  color: var(--dark-icon-color);
  font-size: 1rem;
}

.theme-icon.animated {
  animation: spin 0.5s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* LIGHTMODE */
.light-mode .theme-button {
  background-color: rgba(36, 36, 36, 0.1);
}

body.light-mode {
  background: linear-gradient(167deg, rgba(148,187,233,1) 0%, rgba(238,187,174,1) 100%);
}

.light-mode .landing-page {
  /* background-image: url("../assets/backgrounds/dawn_wallpaper.jpg"); */
}

.light-mode .main-container, 
.light-mode .page-links > li > a {
  color: var(--light-text-color);
}

.light-mode .cursor {
  border: 1px solid var(--light-primary-color);
}

.light-mode .mini-cursor {
  background-color: var(--light-primary-color);
}

.light-mode .indicator {
  transform: translateX(1.75rem);
  background-color: #fff;
}

.light-mode .theme-icon {
  color: var(--light-icon-color);
}

.light-mode .github-icon {
  filter: initial;
}



/* SCROLLBAR */
::-webkit-scrollbar {
  width: 18px;
  background-color: rgb(85, 85, 85);
}

.light-mode ::-webkit-scrollbar {
  background-color: #fff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 10px;
  border: 3px solid rgb(85, 85, 85);
}

@media screen and (max-width: 1440px) {
  .cursor, .mini-cursor {
    display: none;
    visibility: hidden;
  }
}
